.rate-btns {
  margin: 16px 0;
}

.rate-btn {
  font-size: 18px;
  width: 80px;
  margin: 4px;
  border: 1px solid;
  background: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

.quote-wrapper {
  text-align: left;
  font-size: 18px;
  margin: 40px 0;
}

.quote {
  margin: 16px 0;
  line-height: 22px;
}

.author {
  display: block;
  text-align: right;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.rating {
  float: right;
}